<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.weng.rtkvalley">

    <!-- 访问网络，进行地图相关业务数据请求，包括地图数据，路线规划，POI检索等 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取网络状态，根据网络状态切换进行数据请求网络转换 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 读取外置存储。如果开发者使用了so动态加载功能并且把so文件放在了外置存储区域，则需要申请该权限，否则不需要 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 写外置存储。如果开发者使用了离线地图，并且数据写在外置存储区域，则需要申请该权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />



    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="false"
            android:resizeable="true"
            android:smallScreens="true"/>

    <!-- OpenGLES 2.0 -->
    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

    <application
            android:name=".BDMapUsageDemoApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
            <!--
            upper
            android:networkSecurityConfig="@xml/network_security_config"-->


        <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="hXRGLcKaHpAryaXoVrMgTFCfDoIPOwDf"/>
        <!-- 定位服务声明-->
        <service android:name="com.baidu.location.f"
                 android:enabled="true"
                 android:process=":remote"/>


        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--        add for banner 20.5.24-->
        <activity android:name=".ui.banner_show.ui.VideoActivity"/>
        <activity android:name=".ui.banner_show.ui.Vp2FragmentRecyclerviewActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    </application>


</manifest>